body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-image: url(./bkg/imagine-fundal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  /* background-color: rgba(0, 0, 0, 0.178); */
}
a {
  text-decoration: none;
  color: #000;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}

.navbar-toggler {
  border: 1px solid #0d6efd;
  line-height: 1.3;
}
.navbar-toggler:hover i {
  color: #ffffff;
}


/* COLORS */
.blue {
 color: #0d6efd;
}

/* BUTTONS */
.btn-primary {
  background-color: #fd4141;
  font-size: 18px;
  z-index: 9999;
  border-color: #fd4141;
  /* box-shadow: 4px 6px 6px #6689bd; */
}

.nav-bar .btn-primary {
  z-index: 99999999;
}
.btn-primary:hover .blue {
  color: #ffffff;
}

.btn-light {
  /* background-color: #0d6dfd; */
  color: rgb(0, 0, 0);
  border-color: #00000000;
  border: 1px solid black;
  /* box-shadow: 4px 6px 6px #6689bd; */
}

.btn-light {
  margin-left: 10px;
  margin-right: 10px;
}
.btn-light.disabled, .btn-light:disabled {
  color: #000;
  background-color: #f8f9fa;
  /* border-color: #000000; */
}

/* .btn-primary:focus {
  background-color: #ffffff;
} */

/* PRODUCTS */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.sidebar-navigation{
  position: absolute;
  right: 0;
}
.move-right {
  right: 20px;
  top: 10px;
}
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 180px;
  position: fixed;
  min-height: 100vh;
  right: 0;
  left: -180px;
  bottom: 0;
  top: 0;
  background-color: #0d6efd;
  transition: 0.5s;
  z-index: 99999;
}

.side-navbar  .nav-link {
  color: white;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
  width: 100%;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}

/* CARD */
.card {
  /* border: 1px solid #000000; */
  /* box-shadow: 0px 5px 5px #0d6dfd94; */
  background-color: rgba(255, 255, 255, 0.5);
}


.card-body {
  color: #000000;
}


/* LOGO WANNA BE */
.wine-logo {
  width: 180px;
}

/* CART */
.navbar-dark .navbar-nav .nav-link {
  color: #000000;
  font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #000000;
}

.cart-nav {
  border: 1.5px #0d6dfd solid;
  border-radius: 50px;
}

.col-md-3 span {
  padding-left: 5px;
  padding-right: 5px;
}

/* CARD PRICE */
.card-price {
  font-size: 20px;
  font-weight: bold;
}

/* DISPALY NONE */
.none {
  display: none;
}

/* NAVBAR */
.nav-bar {
  /* border-bottom: 1px solid #0d6efd; */
  box-shadow: 0 0px 5px #00000088;
}



.navbar-nav {
  font-size: 18px;
}

.nav-hover:after {
  content: " ";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #0d6dfd;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  border-radius: 20px;
}

.nav-hover:hover:after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0d6dfd;
}

/* search box */

.form-control {
  border: 1px solid #ffffff;
  background-color: #00000000;
  font-size: 17px;
  color: #ffffff;
}

.btn-outline-primary {
  border: 1px solid #000000;
  color: #000;
}

/* .nav-hover:hover, .nav-hover:focus {
  background-color: #1d2a415d;
  border-radius: 0.25rem;
} */

.nav-link {
  color: #ffffff;
  padding: 0;
}

.nav-link:focus, .nav-link:hover {
  color: #0d6efd;
}

.collapse.show {
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}

/* CATEGORIES */
.categories , .categories:hover {
  color: #212529;
  transition: none;
}

/* BORDER FOR NAV */
/* .border-blue {
  border: 1px solid #1d2a415d;
  box-shadow: 0px 0px 4px #0d6dfd;
  border-radius: 0.25rem;
} */

/* PADDING */
.margin-boxes {
  margin-right: 20px;
} 

/* TEXT COLOR */
.text-color-black {
  color: #000000;
}

/* CART */
.rounded-pill {
  margin-left: 5px;
  background-color: #e63946 !important;
  font-size: 13px;
}

/* featured-products */

.featured-products {
  color:#000000;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  /* background-color: #3b3b3b; */
  width: 400px;
  border-radius: 0.25rem;
  /* text-align: center; */
}

/* MEDIA SCREEN */

@media only screen and (max-width: 991px) {
  .margin-boxes {
    margin-right: 0px;
  } 
}


/* FOOTER */

.footer {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #0d6dfd;
  font-size: 25px;
  text-shadow: #fa2424 1px 1px 1px;
}

/* PAYMENT PROCESS */
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #0d6dfd;
  color: #0d6dfd;
}

/* PRODUCTS OPTIONS */

.product-options{
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.product-options div ul {
  list-style-type: none;
}

.product-options a {
  color: #ffffff;
}

/* table */
.table {
  background-color: #0d6dfdd7;
  border-radius: 0.25rem;
  color: #ffffff;
}


/* Search */

.fa-search {
  color: #ffffff;
}


.align-items-centee{
  color: #000000;
}

